html {
    background-color: #3B3B3B;
  }

h1 {
    text-align: center;
    color: #ffffff;
}
h3 {
    text-align: center;
    color: #F6237E;
}

#title img {
    display: block;
    margin: 0 auto;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    margin-bottom: 100px;
  }

#title img.center {
    display: block;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


.container .container-item {
    width: 400px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
  }

.container .container-item img {
    border-radius: 1em;
    opacity: 0.8;
    width: 100%;
    height: auto;
}

.container .container-item p {
    font-size: 1.1em;
    /* font-weight: bold; */
    font-family: 'Courier New', monospace;
    text-align: center;
    margin-bottom: 0.25em;
    color: #F6237E;
  }
  
.container .container-item:hover {
    cursor: pointer;
  }
  
.container .container-item:hover img {
    opacity: 1.0;
    transform: scale(1.1);
  }
